
@{
    ViewBag.Title = "StThanhToan";
    Layout = "~/Views/Shared/_ShopBanHang.cshtml";
}

<h1 style="color:green;text-align:center;font-weight:bold">Thanh toán thành công</h1>
<a class="mua-tiep cen-ter" href="/Home">Mua tiếp</a>

